In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('ko_stock_with_features.csv')

C:\Users\SSAFY\AppData\Local\Temp\ipykernel_18300\450659232.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('ko_stock_with_features.csv')

In [ ]:
df

,code,date,open,high,low,close,volume,change,open_ks11,high_ks11,...,MA_20,EMA_5,EMA_20,RSI_14,volatility_10,volume_change,red_candle,red_ratio_10,momentum_10,fear_index
0,20,2001-06-11,2290.0,2380.0,2270.0,2300.0,686410.0,-0.004329,612.46,615.41,...,NaN,2300.000000,2300.000000,NaN,NaN,NaN,0,NaN,NaN,-0.000000
1,20,2001-06-11,2290.0,2380.0,2270.0,2300.0,686410.0,-0.004329,75.95,76.33,...,NaN,2300.000000,2300.000000,NaN,NaN,0.000000,0,NaN,NaN,-0.000000
2,20,2001-06-12,2320.0,2380.0,2270.0,2370.0,565620.0,0.030435,605.36,611.88,...,NaN,2323.333333,2306.666667,NaN,NaN,-0.175974,0,NaN,NaN,0.000000
3,20,2001-06-12,2320.0,2380.0,2270.0,2370.0,565620.0,0.030435,74.89,75.78,...,NaN,2338.888889,2312.698413,NaN,NaN,0.000000,0,NaN,NaN,-0.000000
4,20,2001-06-13,2400.0,2420.0,2340.0,2360.0,403200.0,-0.004219,611.79,614.05,...,NaN,2345.925926,2317.203326,NaN,NaN,-0.287154,1,NaN,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8923259,45226K,2025-04-03,2440.0,2455.0,2375.0,2395.0,2305.0,-0.012371,326.22,332.96,...,2398.5,2405.765074,2405.515777,47.619044,18.135294,0.000000,1,0.6,5.0,-0.000000
8923260,45226K,2025-04-04,2395.0,2420.0,2310.0,2390.0,1999.0,-0.002088,2450.49,2506.71,...,2398.0,2400.510050,2404.038084,62.499995,19.010231,-0.132755,1,0.7,-15.0,-26.498860
8923261,45226K,2025-04-04,2395.0,2420.0,2310.0,2390.0,1999.0,-0.002088,327.37,335.11,...,2397.5,2397.006700,2402.701124,62.499995,19.720266,0.000000,1,0.8,-15.0,0.000000
8923262,45226K,2025-04-07,2390.0,2390.0,2300.0,2300.0,1908.0,-0.037657,2359.25,2369.40,...,2392.5,2364.671133,2392.920064,28.571427,38.589722,-0.045523,1,0.8,-85.0,-119.456329
8923263,45226K,2025-04-07,2390.0,2390.0,2300.0,2300.0,1908.0,-0.037657,313.52,315.30,...,2387.5,2343.114089,2384.070534,28.571427,49.283759,0.000000,1,0.8,-85.0,0.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8923264 entries, 0 to 8923263
Data columns (total 30 columns):
 #   Column         Dtype
---  ------         -----
 0   code           object
 1   date           object
 2   open           float64
 3   high           float64
 4   low            float64
 5   close          float64
 6   volume         float64
 7   change         float64
 8   open_ks11      float64
 9   high_ks11      float64
 10  low_ks11       float64
 11  close_ks11     float64
 12  volume_ks11    float64
 13  change_ks11    float64
 14  updown         float64
 15  comp           float64
 16  amount         float64
 17  marcap         float64
 18  market         object
 19  MA_5           float64
 20  MA_20          float64
 21  EMA_5          float64
 22  EMA_20         float64
 23  RSI_14         float64
 24  volatility_10  float64
 25  volume_change  float64
 26  red_candle     int64
 27  red_ratio_10   float64
 28  momentum_10    float64
 29  fear_index     float64
dtypes: float64(26), int64(1), object(3)
memory usage: 2.0+ GB

In [ ]:
pd.set_option('display.max_columns', None)
df

,code,date,open,high,low,close,volume,change,open_ks11,high_ks11,low_ks11,close_ks11,volume_ks11,change_ks11,updown,comp,amount,marcap,market,MA_5,MA_20,EMA_5,EMA_20,RSI_14,volatility_10,volume_change,red_candle,red_ratio_10,momentum_10,fear_index
0,20,2001-06-11,2290.0,2380.0,2270.0,2300.0,686410.0,-0.004329,612.46,615.41,607.20,608.23,340123834.0,-0.0218,2.0,-13.55,1.711355e+12,2.137698e+14,KS11,NaN,NaN,2300.000000,2300.000000,NaN,NaN,NaN,0,NaN,NaN,-0.000000
1,20,2001-06-11,2290.0,2380.0,2270.0,2300.0,686410.0,-0.004329,75.95,76.33,75.17,75.27,197160784.0,-0.0249,2.0,-1.92,1.274272e+12,1.879641e+14,KS200,NaN,NaN,2300.000000,2300.000000,NaN,NaN,0.000000,0,NaN,NaN,-0.000000
2,20,2001-06-12,2320.0,2380.0,2270.0,2370.0,565620.0,0.030435,605.36,611.88,603.91,607.15,319877548.0,-0.0018,2.0,-1.08,1.579309e+12,2.134079e+14,KS11,NaN,NaN,2323.333333,2306.666667,NaN,NaN,-0.175974,0,NaN,NaN,0.000000
3,20,2001-06-12,2320.0,2380.0,2270.0,2370.0,565620.0,0.030435,74.89,75.78,74.69,75.08,174177478.0,-0.0025,2.0,-0.19,1.063817e+12,1.875352e+14,KS200,NaN,NaN,2338.888889,2312.698413,NaN,NaN,0.000000,0,NaN,NaN,-0.000000
4,20,2001-06-13,2400.0,2420.0,2340.0,2360.0,403200.0,-0.004219,611.79,614.05,607.48,614.05,392415108.0,0.0114,1.0,6.90,1.882786e+12,2.157223e+14,KS11,2340.0,NaN,2345.925926,2317.203326,NaN,NaN,-0.287154,1,NaN,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8923259,45226K,2025-04-03,2440.0,2455.0,2375.0,2395.0,2305.0,-0.012371,326.22,332.96,326.22,332.92,105078126.0,-0.0099,2.0,-3.34,6.746846e+12,1.791244e+15,KS200,2414.0,2398.5,2405.765074,2405.515777,47.619044,18.135294,0.000000,1,0.6,5.0,-0.000000
8923260,45226K,2025-04-04,2395.0,2420.0,2310.0,2390.0,1999.0,-0.002088,2450.49,2506.71,2438.02,2465.42,695074881.0,-0.0086,2.0,-21.28,1.074283e+13,2.019897e+15,KS11,2406.0,2398.0,2400.510050,2404.038084,62.499995,19.010231,-0.132755,1,0.7,-15.0,-26.498860
8923261,45226K,2025-04-04,2395.0,2420.0,2310.0,2390.0,1999.0,-0.002088,327.37,335.11,324.84,328.67,133838132.0,-0.0128,2.0,-4.25,8.699469e+12,1.773818e+15,KS200,2399.0,2397.5,2397.006700,2402.701124,62.499995,19.720266,0.000000,1,0.8,-15.0,0.000000
8923262,45226K,2025-04-07,2390.0,2390.0,2300.0,2300.0,1908.0,-0.037657,2359.25,2369.40,2327.01,2328.20,619500714.0,-0.0557,2.0,-137.22,1.050549e+13,1.907592e+15,KS11,2374.0,2392.5,2364.671133,2392.920064,28.571427,38.589722,-0.045523,1,0.8,-85.0,-119.456329
8923263,45226K,2025-04-07,2390.0,2390.0,2300.0,2300.0,1908.0,-0.037657,313.52,315.30,309.40,309.60,140753696.0,-0.0580,2.0,-19.07,8.389014e+12,1.672901e+15,KS200,2355.0,2387.5,2343.114089,2384.070534,28.571427,49.283759,0.000000,1,0.8,-85.0,0.000000